.container-fluid{
    padding: 0px 200px;
    background-color: rgb(255, 255, 255);
}
.navbar-brand{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-item{
    color: white;
}
.box{
    background-image: url(./img/the-town-bg-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 130vh;
    padding: 15px 50px;

}
.box h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 100px;
    font-family: 'Rubik Vinyl', cursive;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 250px;
    text-shadow: 10px 10px 20px #000;
}
.box h1 span{
    color: rgb(78, 21, 21);
    margin-left: 30px;
}
.box p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    width: 900px;
    text-align: center;
    margin: 25px auto;
    font-family: 'Great Vibes', cursive;
    text-shadow: 10px 10px 10px #000;
}
.tm-intro-text-container{
    width: 650px;
    margin-left: 25px;
    margin-right: 25px;
}
.tm-intro-text-container h2{
    color: rgb(3, 149, 181);
    font-size: 50px;
}
.tm-intro-text-container p{
    color: rgb(133, 133, 133);
    font-size: 23px;
}
.tm-next .btn{
    background-color: rgb(40, 117, 232);
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 20px;
}
.mb-5 a{
    text-decoration: none;
}
.fw-light {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(3, 149, 181);
    font-weight: bold;
}
.lead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
}
.col-md-7 h2{
    color: rgb(18, 158, 158);
    margin-top: 200px;
    font-family: 'Playfair Display SC', serif;
}
.contact{
    background-image: url("./img/the-town-bg-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
footer .text{
    color: #fff;
    font-size: 18px;
}
.album col{
    cursor: pointer;
}
.container_intro{
    background-image: linear-gradient(rgba(255, 255, 255, 1.5), rgba(2, 2, 2, 0.6), rgba(255, 255, 255, 1.5)),url("./img/town_gallery2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
footer{
    height: 50vh;
}
.contact .container{
    margin-top: 100px;
}
.container_intro .col-lg-4 .svg{
    display: flex;
    align-items: center;
    justify-content: center;
}